#top ul{
	padding-top: 8px;
}

#top ul li{
	line-height:30px;
	display: inline-block;
	margin:0px 5px;
	color:white;
}

.social ul li a i{
	font-size:18px;
	margin:0 1px;
}

.registro ul{
	text-align: right;
	font-size:12px;
}
/* cabecera header */
header #btnCategorias{
	margin:20px 0;
}

header #btnCategorias p{
	line-height:40px;
	margin-bottom:0px;
}

header #btnCategorias p span{
	cursor: pointer;
} 


header #buscador{
	margin:23px 0;
}


header #buscador input{
	padding:19px;
	border-radius:0;
}

header #buscador button{
	padding:9px;
	border:1px solid rgb(112, 112, 177);
	border-radius:0;
}

header #carrito{
	margin:20px 0;
}


header #carrito button{
	padding:9px 15px;
	border:1px solid silver;
	border-radius:0;
}

header #carrito p{
	
	padding:2px;
	padding-left:60px;
	border:1px solid #aaa;
	font-size:12px;
}

header #categorias{
	display: none;
	margin-top:-10px;
	position: relative;
	padding-bottom: 30px;
}
#categorias #centrar{
	display:flex;
	align-items:flex-start;
	justify-content: space-between;
 }
 

header #categorias #centrar h4{
	margin-top:20px;
	margin-bottom:-10px;
}

header #categorias #centrar hr{
	border:1px solid rgba(255,255,255,.6);
}


/* Ssitema de quiebree  1336 en adelante */
@media(min-width:1200px){
	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding:10px 60px;
		padding-left:0px;
	}

	header #carrito{
		padding-left:100px;
	}
}
/* Escriotrio medano */
@media (max-width:1199px) and (min-width:992px){
	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding:25px 60px;
		padding-left:0px;
	}

	header #carrito{
		padding-left:70px;
	}
}
/* escriptrio pequeño tablet */
@media ( max-width:991px ) and (min-width:768px){
	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding:30px 0px;
	}

	header #carrito{
		padding-left:55px;
	}

	header #carrito p{
		display:none;
	}
}
/* movil */
@media (max-width:767px){

/*=============================================
	TOP
	=============================================*/

	#top ul{
		text-align: center;
	}

	#top #registro{
		border-top:1px solid #222;
	}
	
	/*=============================================
	HEADER
	=============================================*/

	#categorias #centrar{
		
		align-items:flex-start;
		justify-content: space-between;
	 }

	header #logotipo img{
		padding:30px;
		padding-bottom:10px;
	}

	header  #centrar{
		margin-bottom:10px;
	}

	header #buscador{
		margin-bottom:10px;
	}

	header #carrito{
		margin:0px;
	}

 }

 /* usamos flex pra centrar esto va de la mos con inliline-block a los div de plantilla.css */
